<!DOCTYPE html>
<html ng-app="Biogenesis">
	<head>
		<title>Biogenesis</title>
		<meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
		<!-- Styles -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="_assets/materialize/dist/css/materialize.min.css">
		<link rel="stylesheet" type="text/css" href="_css/style.css">
		<link rel="stylesheet" type="text/css" href="_css/periodic-table.css">
		<link rel="stylesheet" type="text/css" href="_css/misc.css">
	</head>
	<body class="row grey lighten-2" ng-controller="physicsController">


		<!-- Page Content -->
		<main ng-controller="infoController">
			<h4 class="white-text shadow-text tac">Periodic Table of Elements</h4>

			<!-- Periodic Table of Elements -->
			<div id="periodic-table">
				<div class="col block {{item.data.styling}}"
					ng-repeat="item in table track by $index" 
					ng-click="elementInfo(item)">
					<div class="col block-inner white-text {{item.data.table_color}}" ng-class="{'pad-5': item}">
						<div>{{item.data.AtomicNumber}}</div>
						<div class="fs-md light">{{item.data.ElementSymbol}}</div>
						<div class="fs-sm light">{{item.data.ElementName}}</div>
						<div class="fs-sm light">{{item.data.AtomicWeight}}</div>
					</div>
				</div>
			</div>

			<!-- Modal Structure -->
			<div id="element-info" class="modal bottom-sheet">
			    <div class="modal-content">
					<div class="pad-10" ng-show="viewing">
					<h4 class="blue-text flow-text">{{viewing.ElementName}}</h4>
						<div class="row col s12 l3 pad-0">
							<div><b>AtomicNumber:</b> {{viewing.AtomicNumber}}</div>
							<div><b>AtomicWeight:</b> {{viewing.AtomicWeight}}</div>
						</div>
						<div class="col s12 l9 pad-0">
							<div class="col s12 pad-0">
								<div class="col blue-text flow-text element-symbol"><span>{{viewing.ElementSymbol}}</span></div>
								{{viewing.BriefDescription}}
							</div>
						</div>
					</div>
			    </div>
			    <div class="modal-footer">
			      	<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
			    </div>
			</div>
		</main>


		<!-- Angular & Friends-->
		<script type="text/javascript" src="_assets/angular/angular.min.js"></script>
		<script type="text/javascript" src="_assets/angular-css/angular-css.min.js"></script>
		<!-- <script type="text/javascript" src="https://fireapi.firebaseapp.com/api.js"></script> -->
		<!-- Materialize & jQuery -->
		<script type="text/javascript" src="_assets/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="_assets/materialize/dist/js/materialize.min.js"></script>
		<!-- Firebase -->
    	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    	<script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>
		<!-- Main -->
		<script type="text/javascript" src="app/app.js"></script>
		<script type="text/javascript" src="app/controllers/physicsController.js"></script>
		<script type="text/javascript" src="app/controllers/infoController.js"></script>
		<!-- Universe -->
		<script type="text/javascript" src="universe/matter.js"></script>
	</body>
</html>