/*Miscellaneous*/
.hide {display: none}
.fixed{position:fixed !important}
.absolute{position:absolute !important}
.valign-m{vertical-align: middle !important}
.format {white-space: pre-line !important}
.cb{clear:both !important}
.cl{clear:left}
.tac{text-align:center !important}
.tal{text-align:left !important}
.tar{text-align:right !important}
.ttn{text-transform:none !important}
.fwb{font-weight:bold !important}
.shadow-text {text-shadow: 2px 2px 5px black}
.h100{height:100% !important}
.pad-0{padding:0px !important}
.pad-5{padding:5px !important}
.pad-10{padding:10px !important}
.pad-15{padding:15px !important}
.pad-20{padding:20px !important}
.pad-10{padding:10px !important}
.mar-0{margin:0px !important}
.mar-5{margin:5px !important}
.mar-10{margin:10px !important}
.mar-15{margin:15px !important}
.mar-20{margin:20px !important}
.mar-10{margin:10px !important}
.auto{margin: 0 auto}
.fs-reg{font-size: 1.2em !important}
.fs-1em{font-size:0.9em !important}
.fs-2em{font-size:2em !important}
.fs-3em{font-size:3em !important}
.fs-4em{font-size:4em !important}
.fs-5em{font-size:5em !important}
.bb{border-bottom: 1px solid !important}
.bbw {border-bottom: 1px solid #CCCCCC !important}
.bn{border: none !important}
.br2{border-radius:2px}
.br3{border-radius:3px}
.br4{border-radius:4px}
.br5{border-radius:5px}
.br10{border-radius:10px}
.zindex-1{z-index:11111 !important}
.zindex-2{z-index:22222 !important}
.zindex-3{z-index:33333 !important}
.zindex-4{z-index:44444 !important}
.zindex-5{z-index:55555 !important}
.zindex-6{z-index:66666 !important}
.zindex-7{z-index:77777 !important}
.zindex-8{z-index:88888 !important}
.zindex-9{z-index:99999 !important}
.zindex-10{z-index:100000 !important}
.cursor {cursor: pointer !important}
.cursor-move {cursor: move !important}
.sq40 {height: 40px;width: 40px}
.sq45 {height: 45px;width: 45px}
.sq50 {height: 50px;width: 50px}
.sq200 {height: 200px;width: 200px}
/*Fonts*/
@font-face {font-family: 'Material Icons';font-style: normal;font-weight: 400;src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');}
.material-icons {font-family: 'Material Icons';font-weight: normal;font-style: normal;font-size: 24px;line-height: 1;letter-spacing: normal;text-transform: none;display: inline-block;word-wrap: normal;-webkit-font-feature-settings: 'liga';-webkit-font-smoothing: antialiased;}